<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <!-- header -->
    <header class="header">
      <div class="container">
        <div class="header-inner">
          <!-- logo -->
          <div class="col-lg-2 p-0">
            <div class="header__left d-flex">
              <a href="/" class="icon-simple-line mr-3"></a>
              <a href="/" class="header__left-logo">
                Cesa.
              </a>
            </div>
          </div>
          <!-- navbar -->
          <ul class="header__nav navbar d-flex">
            <li class="navbar__item">
              <a href="/" class="navbar__link link--golden">Home</a>
            </li>
            <li class="navbar__item">
              <a href="./shop.html" class="navbar__link link--golden">Shop</a>
            </li>
            <li class="navbar__item">
              <a href="/" class="navbar__link link--golden">Blog</a>
            </li>
            <li class="navbar__item">
              <a href="/" class="navbar__link link--golden">Page</a>
            </li>
            <li class="navbar__item">
              <a href="/" class="navbar__link link--golden">Purchase</a>
            </li>
          </ul>
          <!-- services -->
          <div class="header__services services d-flex">
            <button>ser</button>
            <button>lov</button>
            <button>car</button>
          </div>
        </div>
      </div>
    </header>
    <!-- main -->
    <main class="main shop">
      <div class="container">
        <div class="row">
          <!-- filter -->
          <div class="col-lg-3">
            <div class="aside">
              <!-- categories -->
              <div class="aside_categories aside__box">
                <h3 class="aside__title">PRODUCT CATEGORIES</h3>
                <ul class="cate__list">
                  <li class="cate__item">
                    <a href="" class="cate__link link--golden"
                      >Accessories
                      <span class="cate__count">2</span>
                    </a>
                  </li>
                  <li class="cate__item">
                    <a href="" class="cate__link link--golden"
                      >Decor
                      <span class="cate__count">4</span>
                    </a>
                  </li>
                  <li class="cate__item">
                    <a href="" class="cate__link link--golden"
                      >Jewelry
                      <span class="cate__count">5</span>
                    </a>
                  </li>
                  <li class="cate__item">
                    <a href="" class="cate__link link--golden"
                      >Men
                      <span class="cate__count">3</span>
                    </a>
                  </li>
                  <li class="cate__item">
                    <a href="" class="cate__link link--golden"
                      >Shoes
                      <span class="cate__count">8</span>
                    </a>
                  </li>
                  <li class="cate__item">
                    <a href="" class="cate__link link--golden"
                      >Toys
                      <span class="cate__count">3</span>
                    </a>
                  </li>
                  <li class="cate__item">
                    <a href="" class="cate__link link--golden"
                      >Women
                      <span class="cate__count">9</span>
                    </a>
                  </li>
                </ul>
              </div>
              <!-- filter by color -->
              <div class="aside__color aside__box">
                <h3 class="aside__title">FILTER BY COLOR</h3>
                <ul class="color__list">
                  <li class="color__item">
                    <a href="" class="color__link color__link--yellow-1"></a>
                  </li>
                  <li class="color__item">
                    <a href="" class="color__link color__link--black"></a>
                  </li>
                  <li class="color__item">
                    <a href="" class="color__link color__link--blue"></a>
                  </li>
                  <li class="color__item">
                    <a href="" class="color__link color__link--brown"></a>
                  </li>
                  <li class="color__item">
                    <a href="" class="color__link color__link--gray"></a>
                  </li>
                  <li class="color__item">
                    <a href="" class="color__link color__link--green"></a>
                  </li>
                  <li class="color__item">
                    <a href="" class="color__link color__link--yellow-2"></a>
                  </li>
                  <li class="color__item">
                    <a href="" class="color__link color__link--pink"></a>
                  </li>
                  <li class="color__item">
                    <a href="" class="color__link color__link--brown-2"></a>
                  </li>
                </ul>
              </div>
              <!-- filter by price -->
              <div class="aside__price aside__box">
                <h3 class="aside__title">FILTER BY PRICE</h3>
                <div class="price_slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" >
                  <div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 0%; width: 100%;"></div>
                  <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 0%;"></span>
                  <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 100%;"></span>
                </div>
              </div>
              <!-- average rating -->
              <div class="aside__rating aside__box">
                <h3 class="aside__title">AVERAGE RATING</h3>
              </div>
              <!-- recent products -->
              <div class="aside__recents aside__box">
                <h3 class="aside__title">RECENT PRODUCTS</h3>
              </div>
            </div>
          </div>
          <!-- content -->
          <div class="col-lg-9">
            <section class="products">
              <div class="products__header d-flex">
                <nav class="products__views"></nav>
                <div class="products__per-page">
                  <div class="something">Show</div>
                </div>
                <div class="products__sorting"></div>
              </div>
              <div class="products__list">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4"></div>
                  </div>
                </div>
              </div>
              <div class="content__footer"></div>
            </section>
          </div>
        </div>
      </div>
    </main>
    <!-- footer -->
    <footer class="footer">
      <div class="footer__top">
        <div class="container">
          <div class="row">
            <div class="col-lg-3">
              <h4 class="footer__title">ABOUT</h4>
              <ul class="footer__list">
                <li class="footer__item">
                  <a href="/" class="footer__link">Company</a>
                </li>
                <li class="footer__item">
                  <a href="/" class="footer__link">Orders</a>
                </li>
                <li class="footer__item">
                  <a href="/" class="footer__link">Quality</a>
                </li>
                <li class="footer__item">
                  <a href="/" class="footer__link">Privacy Policy</a>
                </li>
                <li class="footer__item">
                  <a href="/" class="footer__link">Gift Cards</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-3">
              <h4 class="footer__title">HELP</h4>
              <ul class="footer__list">
                <li class="footer__item">
                  <a href="/" class="footer__link">Contact Us</a>
                </li>
                <li class="footer__item">
                  <a href="/" class="footer__link">My account</a>
                </li>
                <li class="footer__item">
                  <a href="/" class="footer__link">Customer Service</a>
                </li>
                <li class="footer__item">
                  <a href="/" class="footer__link">Term & Condition</a>
                </li>
                <li class="footer__item">
                  <a href="/" class="footer__link">FAQ</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-3">
              <h4 class="footer__title">FOLLOW US</h4>
              <ul class="footer__list">
                <li class="footer__item">
                  <a href="/" class="footer__link">Facebook</a>
                </li>
                <li class="footer__item">
                  <a href="/" class="footer__link">Twitter</a>
                </li>
                <li class="footer__item">
                  <a href="/" class="footer__link">Instagram</a>
                </li>
                <li class="footer__item">
                  <a href="/" class="footer__link">Dribble</a>
                </li>
                <li class="footer__item">
                  <a href="/" class="footer__link">Google Plus</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-3 is-mb-30">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-lg-4 footer__img-item">
                    <img
                      class="footer__img"
                      src="https://scontent.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/69866223_461540267765279_8534216090826119946_n.jpg?_nc_ht=scontent.cdninstagram.com&_nc_ohc=mbeyMbCQpR8AX_ex1RZ&oh=cf63235db3641ad2357a685ad1c51c87&oe=5EC7C478"
                      alt=""
                    />
                  </div>
                  <div class="col-lg-4 footer__img-item">
                    <img
                      class="footer__img"
                      src="https://scontent.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/69435914_161211295076271_6958282485108537154_n.jpg?_nc_ht=scontent.cdninstagram.com&_nc_ohc=gNZS3CghGWwAX8Tm4nc&oh=a0d97ee2d5f9094075734e6a567d858a&oe=5EC4F07A"
                      alt=""
                    />
                  </div>
                  <div class="col-lg-4 footer__img-item">
                    <img
                      class="footer__img"
                      src="https://scontent.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/69197110_102305344454485_6307736735161947325_n.jpg?_nc_ht=scontent.cdninstagram.com&_nc_ohc=FxlW9hSbhaQAX-XNS34&oh=739415aa579dfa5b98cb5d7eceb72171&oe=5EDC02C6"
                      alt=""
                    />
                  </div>
                  <div class="col-lg-4 footer__img-item">
                    <img
                      class="footer__img"
                      src="https://scontent.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/69334465_411176416201763_881298512392169740_n.jpg?_nc_ht=scontent.cdninstagram.com&_nc_ohc=76XqqMQzw88AX9qyObK&oh=83900bd1e4e972636d0e175af4a88df7&oe=5EC06A4A"
                      alt=""
                    />
                  </div>
                  <div class="col-lg-4 footer__img-item">
                    <img
                      class="footer__img"
                      src="https://scontent.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/69641664_468562817062321_6421045147617758113_n.jpg?_nc_ht=scontent.cdninstagram.com&_nc_ohc=1LXZhpXod3gAX9uU8dX&oh=3403f6a6fa2d0199f21b3798f26d3e60&oe=5ECFEC71"
                      alt=""
                    />
                  </div>
                  <div class="col-lg-4 footer__img-item">
                    <img
                      class="footer__img"
                      src="https://scontent.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/67830570_887774588270468_8166934101562595068_n.jpg?_nc_ht=scontent.cdninstagram.com&_nc_ohc=OQRepLJqMoEAX8NiJtL&oh=3bf7b4d1098ec36d48a513ac186e28a4&oe=5ECF7665"
                      alt=""
                    />
                  </div>
                  <div class="col-lg-4 footer__img-item">
                    <img
                      class="footer__img"
                      src="https://scontent.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/69750433_155183435671908_5316851637849389874_n.jpg?_nc_ht=scontent.cdninstagram.com&_nc_ohc=YRwY4fPpfLcAX8gqHEc&oh=acfb29e1bf2209e3039e6bc81433c855&oe=5EC5A898"
                      alt=""
                    />
                  </div>
                  <div class="col-lg-4 footer__img-item">
                    <img
                      class="footer__img"
                      src="https://scontent.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/69557607_417020108953025_333624916174959326_n.jpg?_nc_ht=scontent.cdninstagram.com&_nc_ohc=AbRhaKGqIFQAX_FqeFo&oh=b913ae0e3ceb3d13355b091b036cee56&oe=5EC15CA5"
                      alt=""
                    />
                  </div>
                  <div class="col-lg-4 footer__img-item">
                    <img
                      class="footer__img"
                      src="https://scontent.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/69715914_1089712424534801_7821581345669147821_n.jpg?_nc_ht=scontent.cdninstagram.com&_nc_ohc=p3E6HunypWcAX8g0qi2&oh=a022ae36b8c3e7239025e1f4c0aea5f3&oe=5ED8EAFE"
                      alt=""
                    />
                  </div>
                </div>
              </div>
              <p class="footer__text-special">Our Store: #cesa.store</p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        <p class="footer__copyright">
          © 2019 Cesa - 240 Liberty St, New York, Privary Policy
        </p>
      </div>
    </footer>
  </body>
</html>
